<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<timestamp key="currentDate" datePattern="yyyyMMdd" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{HH:mm:ss.SSS} [%thread] %-5level %logger [%file:%line] - %msg%n
			</Pattern>
		</layout>
	</appender>

	<logger name="zbeans.cowgraph" level="ALL" />
	
	<root level="ALL">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>